[submodule "3rd/liboqs"]
	path = 3rd/liboqs
	url = git@github.com:open-quantum-safe/liboqs.git
[submodule "3rd/libtomcrypt"]
	path = 3rd/libtomcrypt
	url = git@github.com:libtom/libtomcrypt.git
[submodule "3rd/benchmark"]
	path = 3rd/benchmark
	url = git@github.com:henrydcase/benchmark.git
