[submodule "3rd/libtomcrypt"]
	path = 3rd/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "3rd/benchmark"]
	path = 3rd/benchmark
	url = https://github.com/kriskwiatkowski/benchmark.git
[submodule "3rd/pqc"]
	path = 3rd/pqc
	url = https://github.com/kriskwiatkowski/pqc.git
