[submodule "3rd/libtomcrypt"]
	path = 3rd/libtomcrypt
	url = git@github.com:libtom/libtomcrypt.git
[submodule "3rd/benchmark"]
	path = 3rd/benchmark
	url = git@github.com:henrydcase/benchmark.git
[submodule "3rd/pqc"]
	path = 3rd/pqc
	url = https://github.com/henrydcase/pqc.git
